@use 'sass:meta';

@mixin fullPage() {
  position: relative;
  width: 100vw;
  height: 100vh;
}

@mixin positionCenter($param: null) {
  @if meta.type-of($param) != 'string' or $param == '' or $param == () {
    @error '파라미터는 문자값입니다.';
  }
  @if $param == 'block' {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  } @else if $param == 'inline' {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } @else if $param == 'all' {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@mixin fixedCenter() {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin flexCenter($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin a11y-hidden($focus-visible: false, $focus-state-class: 'focus') {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;

  @if $focus-visible {
    &#{'--' + $focus-state-class}:focus {
      overflow: visible;
      position: static;
      clip: auto;
      width: auto;
      height: auto;
      margin: 0;
      white-space: normal;
    }
  }
}
