@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* 구글폰트 */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital@1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css") layer(Reset);
/* -------------------------------------------------------------------------- */
/*                                  normalize                                 */
/* -------------------------------------------------------------------------- */
input,
button,
dialog {
  border: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
}

dialog {
  padding: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/* -------------------------------------------------------------------------- */
/*                                 typography                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                  variables                                 */
/* -------------------------------------------------------------------------- */
:root {
  --primary: #2B4793;
  --secondary: #e8e2da;
  --white: #fff;
  --black: #000;
}

@layer Typography {
  html {
    font-size: 62.5%;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    cursor: auto;
  }
  @media (min-width: 1500px) and (max-width: 1799px) {
    html {
      font-size: 60%;
    }
  }
  body {
    overflow: hidden;
    font-size: 1.6rem;
    color: #222;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 1.6;
  }
  /* 스크롤바 숨기기 */
  /* 영어폰트 */
  .en {
    font-family: "Public Sans", sans-serif !important;
  }
  .en2 {
    font-family: "Cormorant Infant", serif !important;
  }
  .en3 {
    font-family: "Archivo", sans-serif !important;
  }
  .gsap-marker-start,
  .gsap-marker-end,
  .gsap-marker-scroller-start,
  .gsap-marker-scroller-end {
    z-index: 9999 !important;
    pointer-events: all;
  }
  [class*=gsap-marker] {
    z-index: 9999 !important;
  }
}
/* -------------------------------------------------------------------------- */
/*                                   loader                                   */
/* -------------------------------------------------------------------------- */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.loader--logo {
  height: 7rem;
  overflow: hidden;
}
.loader--logo img {
  width: 100%;
  height: 100%;
}

#status progress {
  appearance: none;
}
#status progress::-webkit-progress-bar {
  background: #f0f0f0;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  height: 0.7rem;
  width: 100%;
  overflow: hidden;
}
#status progress::-webkit-progress-value {
  background: #3336e4;
}

.scroll--view {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  transition: 0.15s;
}

.scroll--view.disabled {
  opacity: 0 !important;
  visibility: hidden !important;
}

.scroll--view p {
  margin-top: 1.6rem;
  font-size: 1.4rem;
  color: #fff;
  animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
}

.scroll--view .mouse {
  background: var(--color-primary-400, #2B4793) linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
  position: relative;
  width: 28px;
  height: 48px;
  border-radius: 100px;
  background-size: 100% 200%;
  animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}

.scroll--view .mouse:before, .scroll--view .mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.scroll--view .mouse:before {
  width: 24px;
  height: 44px;
  background-color: var(--color-primary-400, #2B4793);
  border-radius: 100px;
}

.scroll--view .mouse:after {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  animation: trackBallSlide 10s linear infinite;
}

.scroll--view--inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 3rem;
  position: absolute;
  top: 62vh;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: var(--color-primary-100, #f1edfc);
  }
  29.99% {
    background-color: #fff;
    background-position: 0% 0%;
  }
  30% {
    background-color: var(--color-primary-100, #f1edfc);
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: var(--color-primary-100, #f1edfc);
  }
  59% {
    background-color: #fff;
    background-position: 0% 0%;
  }
  60% {
    background-color: var(--color-primary-100, #f1edfc);
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: var(--color-primary-100, #f1edfc);
  }
  90%, 100% {
    background-color: #fff;
  }
}
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%, 19% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%, 49% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%, 79% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}
@keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes nudgeText {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #fff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #fff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #fff;
  }
}
.mf-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 250;
  direction: ltr;
  contain: layout style size;
  pointer-events: none;
  transition: opacity 0.3s, color 0.4s;
}

.mf-cursor:before {
  content: "";
  position: absolute;
  top: -24px;
  left: -24px;
  display: block;
  width: 48px;
  height: 48px;
  transform: scale(0.2);
  background: var(--color-primary-400, #2B4793);
  border-radius: 50%;
  transition: transform 0.25s ease-in-out, opacity 0.1s;
}

@media screen and (hover: none) and (pointer: coarse) {
  .mf-cursor:before {
    transform: scale(0) !important;
  }
}
.scrollbar-track-y {
  background-color: transparent !important;
}

.scrollbar-thumb {
  cursor: grab;
}

[data-scrollbar-container] {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 10;
}

.title--line {
  width: 100%;
  height: 2px;
  background: black;
  margin: 1rem 0;
}

section {
  min-height: 100vh;
  position: relative;
  translate: 0 0;
}

#scrollContainer {
  width: 100vw;
  height: 100vh;
}

#footer {
  width: 100vw;
  height: 15rem;
  background-color: blue;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */
#header {
  position: fixed;
  display: flex;
  height: 10rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  z-index: 1000;
  padding-inline: 5.5rem;
  background: transparent;
  transition: box-shadow 0.5s;
  border-bottom: 4px solid transparent;
}
#header nav ul {
  display: flex;
  gap: 6.5rem;
}
#header nav ul li a {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
}
#header.--scrolling {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}
#header .parallax__progress {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
}
#header .parallax__progress progress {
  width: 100%;
  height: 5px;
  border: none;
  display: block;
  background: transparent;
}
#header .parallax__progress progress::-webkit-progress-bar {
  background: transparent;
}
#header .parallax__progress progress::-webkit-progress-value {
  background: linear-gradient(to left, #2d4270, #007cff);
  background-attachment: fixed;
}
#header .parallax__progress progress::-moz-progress-value {
  background: linear-gradient(to left, #2d4270, #007cff);
  background-attachment: fixed;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes rolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes rolling-rtl {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
.page--home .bounce {
  display: inline-block;
  animation: bounce 0.5s ease infinite;
}
.page--home .section01 {
  min-height: 100vh;
}
.page--home .section01--spotlight {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100vh;
  background-color: var(--color-base-black, #000);
  overflow: hidden;
  max-width: 1440px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}
.page--home .section01--spotlight div {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
  width: 62.5rem;
  height: 62.5rem;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background: radial-gradient(50% 50% at 50% 50%, #2b4793 0%, rgba(133, 134, 216, 0.5) 50%, rgba(217, 217, 217, 0) 100%);
}
.page--home .section01--hero {
  background-color: var(--color-base-white, #fff);
  mix-blend-mode: screen;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 15vw;
}
.page--home .section01--hero--subtitle {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.333;
  margin-bottom: 1rem;
  word-break: keep-all;
  text-align: center;
  overflow: hidden;
  padding: 0 2.5rem;
}
.page--home .section01--hero--title {
  font-weight: 700;
  text-align: center;
  font-size: 8rem;
}
.page--home .section01--main {
  margin: 0 auto;
  min-height: 100vh;
  margin-top: -50vh;
}
.page--home .section01--main--video {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  will-change: clip-path;
  clip-path: circle(20% at 50% 50%);
}
.page--home .section01--main--video--player {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  pointer-events: none;
  will-change: transform;
}
.page--home .section01--main--video--overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: var(--color-base-black, #000);
}
.page--home .section01--main--video--banner {
  padding: 0 2rem;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  z-index: 1000;
}
.page--home .section01--main--video--banner > div {
  min-height: 100vh;
  display: flex;
}
.page--home .section01--main--video--banner--title {
  background-color: transparent;
  position: relative;
  width: 70%;
}
.page--home .section01--main--video--banner--title h3 {
  width: 100%;
  font-size: 5rem;
  color: #fff;
  position: absolute;
  top: calc(50vh - 120px);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 700;
}
.page--home .section01--main--video--banner--title .title--line {
  position: absolute;
  margin: 1rem 0;
  top: 45%;
  width: calc(100% - 20vw);
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.page--home .section01--main--video--banner--vertical {
  width: 30%;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}
.page--home .section01--main--video--banner--vertical .vertical--item {
  width: 100%;
  border-radius: 1vw;
  overflow: hidden;
}
.page--home .section01--main--video--banner--vertical .vertical--item img {
  display: block;
  object-fit: contain;
}
.page--home .section02 {
  display: grid;
  z-index: 110;
}
.page--home .section02.is-active {
  background: #000e17 !important;
  transition: background 0.5s ease;
}
.page--home .section02.is-active p {
  color: #fff;
}
.page--home .section02.is-active .content__text-tiny {
  color: #fff;
}
.page--home .section02 .content__img {
  border-radius: 5vw;
  --img-width: 100vw;
  --img-height: 40vh;
  --img-ar: auto;
  --img-inner-margin-x: 0px;
  --img-inner-margin-y: 0px;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  width: var(--img-width);
  height: var(--img-height);
  aspect-ratio: var(--img-ar);
}
.page--home .section02 .content__img.content__img--2 {
  --img-width: 100vw;
  --img-height: 100vh;
}
.page--home .section02 h1.rollingTxt {
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 160px;
  overflow: hidden;
  top: 0;
}
.page--home .section02 h1.rollingTxt span {
  display: block;
  font-size: 160px;
  letter-spacing: 0px;
  overflow: hidden;
  white-space: nowrap;
  color: #262625;
  opacity: 0.2;
  position: absolute;
  animation: rolling 30s linear infinite;
}
.page--home .section02 h1.rollingTxt.rtl {
  top: auto;
  bottom: 0;
}
.page--home .section02 h1.rollingTxt.rtl span {
  animation: rolling-rtl 30s linear infinite;
}
.page--home .section02 .content__img-wrap {
  grid-area: layout;
}
.page--home .section02 .content__img-inner {
  grid-area: 1/-1;
  width: calc(100% + var(--img-inner-margin-x) * 2);
  height: calc(100% + var(--img-inner-margin-y) * 2);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
}
.page--home .section02 .content__img-inner--hidden {
  opacity: 0;
}
.page--home .section02 .content__text {
  font-family: "Codec";
  position: relative;
  z-index: 100;
  grid-area: title;
  text-transform: uppercase;
  font-size: 64px;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  line-height: 1;
  padding: 0;
}
.page--home .section02 .content__text.content__text--left {
  justify-self: start;
  padding: 3rem;
  grid-area: layout;
  align-self: center;
  margin: auto;
  width: 100%;
  max-width: 1920px;
  text-align: center;
  line-height: 1.3;
}
.page--home .section02 .content__text span:nth-child(3n) {
  font-feature-settings: "ss01" 1;
}
.page--home .section02 .content__text span span {
  display: inline-block;
}
.page--home .section02 .content__text span span.whitespace {
  white-space: pre;
}
.page--home .section02 .content__text--large {
  font-size: 128px;
}
.page--home .section02 .content__text--center {
  width: 90%;
  text-align: left;
  align-self: stretch;
  justify-content: space-between;
  grid-row: 1/span 1;
}
.page--home .section02 .content__text-tiny {
  text-transform: none;
  font-size: 1.8rem;
  font-weight: 400;
  color: #222;
  max-width: 700px;
  line-height: 1.6;
  margin: 10vh auto 0;
}
.page--home .section03 .stc-prjIntro__box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page--home .section04.awsome {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.page--home .section04.awsome .slide--text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: clamp(10rem, 20vw, 20rem);
  line-height: 1;
  font-weight: 900;
  color: #000;
}
.page--home .section04 .stc-awsome-vis__player {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.page--home .section04 .awsome--title {
  width: 100%;
  height: 100vh;
  line-height: 0.9;
  text-align: center;
  padding-top: 30vh;
  color: #000;
  font-weight: 700;
}
.page--home .section04 .awsome--title .a {
  font-size: 10rem;
}
.page--home .section04 .awsome--title .b {
  font-size: 10rem;
}
.page--home .section04 .fixed--text {
  color: #fff;
  position: fixed;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.page--home .section04 .fixed--text strong {
  font-size: 4rem;
}
.page--home .section04 .fixed--text p {
  font-size: 2rem;
}
.page--home .section04 .workList {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20rem;
  margin-top: 20rem;
  margin-inline: auto 5%;
}
.page--home .section04 .workList li {
  width: 45%;
  border-radius: 1vw;
  overflow: hidden;
}
.page--home .section04 .workList li:nth-child(2n) {
  transform: translateY(-40rem);
}
.page--home .section04 .workList li a {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.page--home .section04 .workList li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.5;
}
.page--home .section04 .workList li a .imgBox {
  --color: #fff;
  position: relative;
}
.page--home .section04 .workList li a .imgBox::before, .page--home .section04 .workList li a .imgBox::after {
  content: "";
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.page--home .section04 .workList li a .imgBox::before {
  width: 16.8rem;
  height: 16.8rem;
  border: 1px solid var(--color);
  background-image: url("/resource/images/readMore2.png");
  background-size: 3.5rem;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 2;
  transition: 0.3s;
  opacity: 0;
}
.page--home .section04 .workList li a .imgBox::after {
  width: 0rem;
  height: 0rem;
  background-color: var(--color);
  background-image: url("/resource/images/readMore3.png");
  background-size: 16rem;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  transition: 0.4s;
  z-index: 1;
}
@-webkit-keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.page--home .section04 .workList li a .imgBox img {
  width: 100%;
}
.page--home .section04 .workList li a:hover::after {
  opacity: 0.5;
}
.page--home .section04 .workList li a:hover .imgBox::before {
  opacity: 1;
}
.page--home .section04 .workList li a:hover .imgBox::after {
  width: 16.8rem;
  height: 16.8rem;
}
.page--home .section04 .workList li a .textBox {
  height: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-block-start: 1rem;
  gap: 1rem;
}
.page--home .section04 .workList li a .textBox h3 {
  font-size: 2rem;
  font-weight: normal;
  font-weight: 700;
}
.page--home .section04 .workList li a .textBox .info {
  display: flex;
  justify-content: space-between;
  color: #888;
  padding: 0 2rem;
}

.transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 800;
  pointer-events: none;
}

.transition__screen {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  left: 0;
  will-change: top;
  background-color: var(--color-primary-400);
}

.transition__background {
  width: 100%;
}

.transition__background path {
  fill: var(--color-primary-400);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.transition__intro {
  width: 100%;
  height: 100%;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.transition__intro svg {
  width: 30vw;
}

@media (max-width: 768px) {
  .transition__intro svg {
    width: 50vw;
  }
}
.transition__intro svg path {
  fill: #fff;
}

.no-loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: var(--color-primary-400);
  width: 100%;
  height: 100%;
  transform: scaleY(0) skewX(0);
  transform-origin: top left;
}

.no-loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.no-transition {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*# sourceMappingURL=index.css.map */
